<a href="https://colab.research.google.com/github/Srijasravani/Twitter/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
from pymongo import MongoClient

query = "(from:elonmusk) until:2023-01-10 since:2022-07-25"
tweets = []
limit = 1000

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
     if len(tweets) == limit:
       break
     else:
       tweets.append([tweet.date, tweet.user.username, tweet.content, tweet.id, tweet.url, tweet.replyCount, tweet.retweetCount, tweet.likeCount])
df = pd.DataFrame(tweets, columns=["Date", "User", "Tweet", "id", "url", "reply_count", "retweet_count", "like_count"])
print(df)
df.dtypes
df.to_csv("twitter.csv")
import pymongo
def dftomonogdb(dataset):
    import pymongo
    connect = pymongo.MongoClient(host="localhost",port=27017)
    database = connect["TwitterDB"]
    collection = database["Twitter Scraping"]


    for (row,rs) in dataset.iterrows():
        #print(row)
        #r = rs
        Date = rs[0]
        User = rs[1]
        Tweet = rs[2]
        id = rs[3]
        url = rs[4]
        reply_count = rs[5]
        retweet_count = rs[6]
        like_count = rs[7]

        d = {"Date":Date,"User":User,"Tweet":Tweet, "id":id, "url":url, "reply_count":reply_count, "retweet_count":retweet_count, "like_count":like_count}
        
        collection.insert_one(d)
        
        
        
    print("Done")
dftomonogdb(df)

<ipython-input-8-34eb8eaef58c>:13: FutureWarning: content is deprecated, use rawContent instead
  tweets.append([tweet.date, tweet.user.username, tweet.content, tweet.id, tweet.url, tweet.replyCount, tweet.retweetCount, tweet.likeCount])

                         Date      User  \
0   2023-01-06 18:46:13+00:00  elonmusk
1   2023-01-06 18:35:24+00:00  elonmusk
2   2023-01-06 18:05:15+00:00  elonmusk
3   2023-01-06 17:55:18+00:00  elonmusk
4   2023-01-06 09:47:24+00:00  elonmusk
..                        ...       ...
995 2022-12-02 02:15:02+00:00  elonmusk
996 2022-12-02 01:02:54+00:00  elonmusk
997 2022-12-02 00:42:50+00:00  elonmusk
998 2022-12-01 21:10:08+00:00  elonmusk
999 2022-12-01 20:55:14+00:00  elonmusk

                                                 Tweet                   id  \
0    @TheRabbitHole84 An actual Jurassic Park would...  1611433974035017729
1                                 (JCO was joking btw)  1611431254091763714
2    8 years later &amp; still no laws â€¦ ðŸ˜¢ https://...  1611423667107549184
3                                     @TheBabylonBee ðŸ¤£  1611421164265672704
4       @pmarca Twitter has at least 10 million Wokeys  1611298376737492992
..                                                 ...                  ...
995  @woodhaus2 Check out the Tesla exhibit at \n@P...  1598500961835941889
996                 Tesla Semi Truck launch in 5 mins!  1598482808020029441
997                  Going live on Twitter in ~20 mins  1598477759730581504
998  @kanyewest Jesus taught love, kindness and for...  1598424232253218816
999  ðŸ‡¯ðŸ‡µðŸ‡¯ðŸ‡µ Congratulations Japan! ðŸ‡¯ðŸ‡µðŸ‡¯ðŸ‡µ\nhttps://t.co...  1598420481769512960

                                                   url  reply_count  \
0    https://twitter.com/elonmusk/status/1611433974...         2437
1    https://twitter.com/elonmusk/status/1611431254...         4267
2    https://twitter.com/elonmusk/status/1611423667...        27280
3    https://twitter.com/elonmusk/status/1611421164...          865
4    https://twitter.com/elonmusk/status/1611298376...         3725
..                                                 ...          ...
995  https://twitter.com/elonmusk/status/1598500961...          220
996  https://twitter.com/elonmusk/status/1598482808...         7040
997  https://twitter.com/elonmusk/status/1598477759...         3297
998  https://twitter.com/elonmusk/status/1598424232...        15365
999  https://twitter.com/elonmusk/status/1598420481...        13201

     retweet_count  like_count
0              799       16626
1             2245       72218
2            31217      406819
3             1232       40177
4             2463       41062
..             ...         ...
995            270        4639
996           8279      101733
997           4099       52941
998          28801      270483
999          82313      716050

[1000 rows x 8 columns]